# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
tmp*
9cc/9cc

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
